/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/certs/jwt-rsa-4096-private.pem
/storage/certs/jwt-rsa-4096-public.pem
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.docker
/storage/certs/jwt-rsa-4096-private.pem
/storage/certs/jwt-rsa-4096-public.pem
